<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <!-- другие пункты меню -->
    </ul>
    <ul class="navbar-nav">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <span class="nav-link text-dark">Привет, @User.Identity.Name! (@User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value)</span>
            </li>
            <li class="nav-item">
                <form asp-controller="Auth" asp-action="Logout" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Вход</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Регистрация</a>
            </li>
        }
    </ul>
</div>