@model PalindromeChecker.Models.IndexViewModel

@{
    ViewData["Title"] = "Проверка палиндромов";
}

<div>
    <h1>Проверка палиндромов</h1>

    <form method="post" asp-action="Check">
        <div>
            <label for="inputWord">Введите текст для проверки:</label>
            <input type="text" 
                   id="inputWord" 
                   name="inputWord" 
                   class="form-control" 
                   value="@Model.InputWord" 
                   placeholder="например: топот или Race car" />
        </div>
        <button type="submit" >Проверить</button>
    </form>

    @if (Model.Result != null)
    {
        <div >            
            <div class="alert @(Model.Result.IsPalindrome ? "alert-success" : "alert-danger")">
                <h5 >@Model.Result.Message</h5>
            </div>
        </div>
    }
</div>

